@keyframes socialmediadescanim {
  from {
    left: 40px;
    opacity: 0;
  }
  to {
    left: 50px;
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pagenumberdescanim {
  from {
    left: -60px;
  }
  to {
    left: -50px;
  }
}