@keyframes socialmediadescanim {
  from {
    right: 40px;
    opacity: 0;
  }
  to {
    right: 50px;
    opacity: 0.8;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInTo1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 0.08;
  }
}

@keyframes pagenumberdescanim {
  from {
    top: 10px;
  }
  to {
    top: 0px;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(1000px);
    opacity: 0;
  }
}

@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes comeRight {
  from {
    margin-right: -20px;
    opacity: 0;
  }
  to {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes menubtncontaineranim {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(0);
  }
}

@keyframes menubtnlineanim {
  0% {
    width: 23px;
    margin-left: 0px;
  }
  20% {
    width: 5px;
  }
  40% {
    margin-left: 0px;
  }
  60% {
    width: 5px;
    margin-left: 17px;
  }
  100% {
    width: 23px;
    margin-left: 0px;
  }
}